---
layout: base
---

<section id="about-me">
    <div class="overlay">
        <div class="overlay-inner">
            <div class="col text-center">
                <p class="text-white text-left">
                    Hi,<br>
                    I am Sergi, a web developer based in United Kingdom. I am specialised in PHP, MySQL, HTML5, CSS3, jQuery and Responsive Web Design.
                </p>
                <a href="#" class="btn btn-outline-light btn-lg" role="button">Meet Me</a>
            </div>
        </div>
    </div>
</section>

<section id="featured-projects">
    <h2 class="h1">Featured Projects</h2>

    <div class="row projects-list">
        <div class="col-10 col-md-6 col-lg-3">
            <div class="card">
                <img src="http://lorempixel.com/453/274/business/1/" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">My Featured Project</h5>
                    <p class="card-text">
                        <time class="project-date" datetime="2009-11-13">December 2013</time>
                        <span class="project-company">Working at Foo Bar Media</span>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-6 col-lg-3">
            <div class="card">
                <img src="http://lorempixel.com/453/274/business/1/" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">My Featured Project</h5>
                    <p class="card-text">
                        <time class="project-date" datetime="2009-11-13">December 2013</time>
                        <span class="project-company">Working at Foo Bar Media</span>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-6 col-lg-3">
            <div class="card">
                <img src="http://lorempixel.com/453/274/business/1/" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">My Featured Project</h5>
                    <p class="card-text">
                        <time class="project-date" datetime="2009-11-13">December 2013</time>
                        <span class="project-company">Working at Foo Bar Media</span>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-6 col-lg-3">
            <div class="card">
                <img src="http://lorempixel.com/453/274/business/1/" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">My Featured Project</h5>
                    <p class="card-text">
                        <time class="project-date" datetime="2009-11-13">December 2013</time>
                        <span class="project-company">Working at Foo Bar Media</span>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <a href="#" class="btn btn-primary btn-lg" role="button">More Projects <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
