---
layout: base
---

<section id="about-me">
    <div class="overlay">
        <div class="overlay-inner">
            <div class="px-4 text-center">
                <p class="text-white text-left">
                    Hi,<br>
                    I am Sergi, a web developer based in United Kingdom. I am specialised in PHP, MySQL, HTML5, CSS3, jQuery and Responsive Web Design.
                </p>
                <a href="#" class="btn btn-outline-light btn-lg" role="button">Meet Me</a>
            </div>
        </div>
    </div>
</section>

<section id="featured-projects">
    <h2 class="h1">Featured Projects</h2>

    {%- assign featured_projects = site.projects|where:"featured",true|sort:"date"|reverse -%}
    {%- include projects_list.html projects=featured_projects -%}

    <div class="row">
        <div class="col text-right">
            <a href="#" class="btn btn-primary btn-lg" role="button">More Projects <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
