---
layout: base
---

<section class="project">
    <div class="project-details">
        <div class="project-info">
            <div class="project-date">
                <time datetime="{{ page.date|date:"%Y-%m-%d" }}">
                    {{- page.date|date:"%B %Y" -}}
                </time>
            </div>
            <div class="project-company">
                {% if page.company %}
                    Working at {{ page.company }}
                {% endif %}
            </div>
        </div>
        <div class="project-content content">
            {{ content }}
        </div>
    </div>
    <div class="project-media">
        {% if page.slider %}
            {% assign numSlides = 0 %}
            <div class="glide mx-auto">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for slide in page.slider %}
                            <li class="glide__slide">
                                <img src="{{ site.portfolio.images_dir }}{{ slide.image}}" alt="{{ slide.text }}" />
                            </li>
                            {% assign numSlides = numSlides | plus: 1 %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <a href="#" class="glide__arrow glide__arrow--prev" data-glide-dir="<">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="glide__arrow glide__arrow--next" data-glide-dir=">">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="glide__bullets" data-glide-el="controls[nav]">
                    {% for i in (0..numSlides) %}
                        {%- if i >= numSlides -%}
                            {% break %}
                        {%- endif -%}
                        <a class="glide__bullet" data-glide-dir="={{ i }}"></a>
                    {% endfor %}
                </div>
            </div>
        {% else if page.image %}
            <div class="project-images">
                <img src="{{ site.portfolio.images_dir }}{{ page.image}}" alt="{{ page.title }}" />
            </div>
        {% endif %}
    </div>
    <div class="project-buttons">
        <div class="project-buttons-group">
            <div class="project-url">
                {% if page.project_url %}
                    <a href="{{ page.project_url }}" class="btn btn-primary btn-lg" role="button" target="_blank">Visit site</a>
                {% endif %}
            </div>
            <div class="back">
                <a class="btn btn-link" href="/portfolio" role="button">Back to portfolio</a>
            </div>
        </div>
    </div>
</section>