<nav class="navbar navbar-expand-md navbar-light" id="header">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png" alt="Sergi Rodriguez">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-me">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
