
section.project {
    .project-details {
        .project-date {
            color: $secondary;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: .1em;
        }
        .project-company {
            color: $secondary;
            font-style: italic;
        }
        .content {
            margin: 1rem 0;

            @include media-breakpoint-down(md) {
                margin-bottom: 2em;
            }
        }
        .project-tags {
            margin: 2em 0;

            .title {
                font-weight: bold;
                font-size: 90%;
                color: $base-color;
                margin-bottom: .3em;
            }
        }
    }
    .project-media {
        margin-bottom: 2.5em;

        .project-image {
            text-align: center;
            
            img {
                @include mixin-box-shadow;
                @include img-fluid;
            }
            @include media-breakpoint-up(md) {
                text-align: right;
            }
        }
        .glide {
            @include carousel($carousel-max-width, $carousel-max-height);
            @include carousel-breakpoint(xs, $carousel-max-xs-width, $carousel-max-xs-height);
            @include carousel-manual-breakpoint(992px, 1200px, $carousel-max-width - 10px, $carousel-max-height - 10px);
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 3.5em;

            .glide {
                float: right;
            }
        }
    }

    .project-buttons {
        i.fa-external-link {
            vertical-align: middle;
        }

        @include media-breakpoint-down(md) {
            .project-button-back {
                margin-top: 1em;
            }
            .project-buttons-group > .row > div {
                margin-top: .8em;
            }
        }
        @include media-breakpoint-down(xs) {
            .project-buttons-group > .row > div {
                width: 90%;
            }
        }
    }
}
