
section.project {
    @include make-row;

    .project-details,
    .project-images {
        @include make-col-ready;
        @include make-col(12);
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
    }

    .project-info {
        @include make-row;

        .project-date,
        .project-company {
            @include make-col-ready;
            @include make-col(12);

            @include media-breakpoint-up(lg) {
                @include make-col(6);
            }
        }
        .project-date {
            font-weight: bold;
            text-transform: uppercase;
        }
        .project-company {
            color: $text-muted;
            font-style: italic;
        }
    }

    .project-content {
        margin: 1rem 0;
    }

    .project-images {
        text-align: center;
        img {
            @include box-shadow;
            @include img-fluid;
        }

        @include media-breakpoint-up(md) {
            text-align: right;
        }
    }

    .project-buttons {
        @include make-col-ready;
        @include make-col(12);
        margin: 2rem 0;

        .project-buttons-group {
            @include make-row;

            & > div {
                margin-top: .8rem;
                &:first-child {
                    margin-top: 0;
                }
            }

            .back, .project-url {
                @include make-col-ready;
                @include make-col(12);
                text-align: center;
            }

            @include media-breakpoint-up(md) {
                & > div {
                    margin-top: 0;
                }

                .back {
                    @include make-col(4);
                    text-align: left;
                    order: 1;
                }
                .project-url {
                    @include make-col(4);
                    order: 2;
                }
            }
        }
    }
}
