// Projects Cards List

.projects-list {
    .card {
        @include mixin-box-shadow;
        border: none;
        margin-bottom: $grid-gutter-width;

        .card-body {
            padding-bottom: 0.8rem;

            .card-title {
                margin-bottom: 0.5rem;
            }

            .card-text {
                margin-bottom: 0;

                .project-company, .project-date {
                    display: block;
                    font-size: 0.9rem;
                    color: $secondary;
                }
                .project-date {
                    font-weight: bold;
                }
            }
        }

        .card-footer {
            padding: 0;
            text-align: right;
            border: none;
            background-color: #fff;

            .btn {
                padding: .4rem 1rem;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .card {
            margin-left: 25px;
            margin-right: 25px;
        }
    }

    @include media-breakpoint-up(md) {
        .card {
            @include calc(max-width, '50% - #{$grid-gutter-width}');
        }
    }

    @include media-breakpoint-up(xl) {
        .card {
            @include calc(max-width, '25% - #{$grid-gutter-width}');
        }
    }
}
